body {
  font-family: 'PT Sans', sans-serif;
}

/* Header */

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns: auto for logo and auto for dropdown */
  background-color: #0084FF;
  padding: 0px;
  /* Adjust padding as needed */
  align-items: center;
  /* Center items vertically */
}

.logo img {
  width: 250px;
  justify-self: start;
}

.dropdown-container {
  justify-self: end;
  padding-right: 50px;
}

.dropdown-btn {
  background-color: transparent;
  color: white;
  padding-bottom: 25px;
  font-size: 125px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

/* Five Card Layout - Main */

.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card_container:first-child {
  background-color: red;
  width: 2fr;
}

.card {
  background-color: blue;
}

#first {
  grid-column-start: 1;
  grid-column-end: 3;

  @media screen and (max-width: 768px) {
    grid-column-start: 0;
    grid-column-end: 1;
  }

}