body {
  font-family: 'PT Sans', sans-serif;
}

/* Header */

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #0084FF;
}

#logo {
  display: grid;
  align-self: center;
  padding-left: 5px;
  width: 35%;
}

#menu {
  display: grid;
  width: 10%;
  align-self: center;
  padding-right: 15px;
  justify-self: end;
}

/* Five Card Layout - Main */

.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card_container:first-child {
  background-color: red;
  width: 2fr;
}

.card {
  background-color: blue;
}

#first {
  grid-column-start: 1;
  grid-column-end: 3;

  @media screen and (max-width: 768px) {
    grid-column-start: 0;
    grid-column-end: 1;
  }

}

/* Card Within A Container */

.card_container_section2{
  display: grid;
  background-color: #9693E6;
  margin-top: 50px;
  padding: 25px;
}
.appdev_card {
  display: grid;
  background-color: white;
  border: 0px transparent;
  border-radius: 50px;
}

/* Tesitmonials/Four Card */

#testimonials_container {
  display: grid;
  grid-template-columns: minmax(auto-fit (4, 3fr));
}